body{
    background-color: brown;
}
h1{
    background-color: blueviolet;
}
table th{background-color: blue;
}
p{background-color: greenyellow;
}
h2{
    background-color: lightblue;
}
h6{
    background-color: lightseagreen;
}
src{
    background-color: limegreen;
}